# .github/workflows/load-test.yml
name: Load Test

on: 
 push:
   branches: [main, develop]
 pull_request:
 workflow_dispatch:

jobs:
  load-test:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v4

     - uses: actions/setup-node@v4
       with:
         node-version: '20'

     - name: Install dependencies
       run: npm ci

     - name: Build Typescript
       run: npm run build || echo "No build script found - skipping build step"
       continue-on-error: true # won't fail the job if the build is missing
     
     - name: Start server
       run: npm start & 
       env:
        PORT: 4000

     - name: "Wait for the server to be ready"
       run: npx wait-on http://localhost:4000/health --timeout 60000

     - name: Run with artillery
       run: npx artillery run artillery/load-test.yaml --output report.json

     - name: Upload artillery report
       uses: actions/upload-artifact@v4
       with:
         name: artillery report
         path: report.json
